body {
    background: var(--bg-img);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    line-height: 30px;
    font-size: 20px;
  }
  #title{
    font-size: 50px;
  }
  #title>strong{
    font-size: 55px;
  }
  #title>ion-icon{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  #title>ion-icon:hover{
    color: gray;
  }
  input{
    border-radius: 10px;
    width: 40vw;
    height: 5vh;
    background-color: #000;
    border: 2px solid gray;
    color: #fff;
    padding-left: 20px;
    font-size: 20px;
  }
  input#birth{
    width: 30vw;
    margin-left: 5vw;
  }
  #cancel{
    position: absolute;
    font-size: 20px;
    margin-left: 33vw;
    padding-top: 5px;
    color: gray;
    float: right;
    cursor: pointer;
  }
  #cancel:hover{
    color: white;
  }
  input[type="submit"]{
    width: 8vw;
    text-align: center;
    padding: 0;
    border-radius: 40px;
    border:  0;
    background-color: white;
    color: #000;
    float: right;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  input[type="submit"]:hover{
    background-color: green;
    color: white;
  }
  select{
    border-radius: 10px;
    width: 41.5vw;
    height: 5vh;
    background-color: #000;
    border: 2px solid gray;
    color: #fff;
    padding-left: 20px;
    font-size: 20px;
  }
  #form-login {
    width: 45vw;
    height: 45vw;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 30px 30px 40px;
    box-shadow: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow:  0 5px 5px 0 black;
    padding-left: 40px;
  }
  #render{
    width: 100%;
  }
  :root{
      --bg-img: linear-gradient(to bottom, #333, #000);
  }
  
  