body {
  background-image: var(--bg-img);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-login {
  width: 40vw;
  height: 45vw;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 30px 30px 40px;
  box-shadow: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 5px 5px 0 black;
}

input {
  width: 70%;
  height: 3vh;
}

:root {
  --bg-img: url("IMAGE/bgImage_login.jpg");
}