*{
    padding: 0;
}
body{
    background-image:url("./IMAGE/bgImage_login.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}
#all_log_in{
    width: 40%;
    height: 45vw;
    background-color: black;
    border-radius: 20px;
}