body {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  line-height: 30px;
  font-size: 20px;
  padding-left: 30px;
}
.main{
  width: 50%;
  height: 75vh;
  margin-top: 70px ;
  overflow: hidden;
  box-shadow: 5px 5px 10px 0px gray;
  border-radius: 15px;
}
.info{
  height: 100vh;
}
.input{
  margin-top: 10px;
}
.icon-btn{
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.confirm{
  background-color: green;
  color: white;
  height: 50px;
}
.banner>img{
  position: relative;
  margin: 0;
  padding: 0;
  top: -20px;
}
form{
  margin-top: 20px;
}
input{
  margin-top: 10px;
}
.icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  float: left;
}
:root {
  --bg-img: linear-gradient(to bottom, #333, 10%, #000) ;
}