body {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  line-height: 30px;
  font-size: 20px;
  padding-left: 30px;
}
.main{
  width: 50%;
  height: 85vh;
  margin-top: 70px ;
  overflow: hidden;
  box-shadow: 5px 5px 10px 0px gray;
  border-radius: 15px;
}
.info{
  height: 100%h;

}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color:  rgba(0,0,0,0.5);;
  z-index: 2000;
}
.icon-btn{
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.confirm{
  background-color: var(--logo-Vie-custom);
  color: white;
  height: 50px;
  transition: all 0.3s ease-in-out;
}
.confirm:hover{
  background-color: #ec4949;
}
.banner>img{
  position: relative;
  margin: 0;
  padding: 0;
  top: -20px;
}
form{
  margin-top: 20px;
}
input, select{
  margin-top: 10px;
}

.icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  float: left;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.icon:hover{
  background-color: #000;
  color: #fff;
}
@media (max-width: 968px) {
  .banner{
    display: none;
  }
  .info{
    width: 100%;
  }
  .main{
    width: 90%;
    height: fit-content;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-top: 0 auto;
    margin-bottom: 0 auto;
    padding-bottom: 10px;
  }
}
@media (min-width: 968px){
  .main{
    height: 80vh;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: -110px;
  }
}
@media (min-height: 1200px){
  .main{
    height: 60vh;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: -110px;
  }
}
@media (max-height: 630px){
  input{
    font-size: 15px;
    height: 25px;
  }
  h2{
    font-size: 20px;
  }
  select{
    font-size: 20px;
  }
  .form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
    height: 25px;
    min-height: 20px;
    line-height: 0.75;
  }
  .form-floating>label {
    position: absolute;
    top: -10px;
    font-size: 10px;
    left: 0;
    z-index: 2;
    height: 100%;
    padding: 12px;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: var(--bs-border-width) solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
  span{
    font-size: 15px;
  }
  span>a{
    font-size: 15px;
  }
  .form-control{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    height: 25px;
  }
}
:root {
  --bg-img: linear-gradient(to bottom, #333, 10%, #000) ;
  --logo-Tri-custom: #32CD32;
  --logo-Vie-custom: #EE6363;
}
